#screenContainer {
  margin : 0;
  padding : 0;
  border : 3px solid black;
  width : 640px;
  height : 360px;
  position : fixed;
  left : calc(50vw - 320px);
  top : calc(50vh - 180px);
  overflow : hidden;
}

#hud, #screen, #textBox, #CenterText {
  padding : auto;
  margin : 0;
  position : absolute;
  left : 0;
  top : 0;
  width : 640px;
  height : 360px;
  box-sizing: border-box;
}

#hud {
  z-index: 1;
}

#screen {
  z-index: 0;
}

#textBox {
  height : 80px;
  width : 90%;
  left : 5%;
  background-color : rgba(80, 80, 80, 0.5);
  top : 275px;
  padding : 5px;
  z-index: 2;
}

#CenterText {
  margin : auto;
  justify-content : center;
  align-items : center;
  z-index: 3;
}

h1, p{
  position : absolute;
  width : 100%;
  background-color : rgba(100,100,100, .4);
  text-align: center;
}

h1 {
  font-size: 60px;
  top : 70px;
}

p {
  font-size: 20px;
  top : 60px;
}
