#screenContainer {
  margin : 0;
  padding : 0;
  border : 3px solid black;
  width : 640px;
  height : 360px;
  position : fixed;
  left : calc(50vw - 320px);
  top : calc(50vh - 180px);
}

#hud, #screen, #textBox, #CenterText {
  padding : auto;
  margin : 0;
  position : absolute;
  left : 0;
  top : 0;
  width : 640px;
  height : 360px;
  box-sizing: border-box;
}

#textBox {
  height : 80px;
  width : 90%;
  left : 5%;
  background-color : rgba(80, 80, 80, 0.5);
  top : 275px;
  padding : 5px;
}

#CenterText {
  margin : auto;
  justify-content : center;
  align-items : center;
}

h1, p{
  margin : auto;
  vertical-align : center;
}
